<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">


    <!-- meli -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/a291c56e45.js" crossorigin="anonymous"></script>
        <title>About Us</title>
    <!--elimina subrayado de <a>-->
        <style>a{text-decoration: none;} </style>
    
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
<header class="sectionNavBar1">
</header>
<section class="aboutUsBox">
<div class="container"> 
<div class="aboutColumn1">
<img src="../image/about1.jpg" alt="" class="imgAbout">
<img src="../image/about2.jpg" alt="" class="imgAbout">
</div>
<div class="aboutColumn2">
<img src="../image/about1.jpg" alt="" class="imgAbout">
<img src="../image/about2.jpg" alt="" class="imgAbout">  
</div>
</div>
<div class="container">
<div class="aboutColumn3">
<h3 class="tittleAbout">About Us</h3>
<p class="textHistory"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id semper risus in hendrerit gravida rutrum quisque non. Malesuada fames ac turpis egestas integer. Purus sit amet volutpat consequat mauris nunc. At tempor commodo ullamcorper a lacus. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Urna id volutpat lacus laoreet non curabitur. Gravida arcu ac tortor dignissim convallis aenean et tortor at. Arcu dui vivamus arcu felis bibendum ut tristique et. Augue interdum velit euismod in pellentesque. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Arcu dictum varius duis at consectetur lorem donec massa sapien. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. A condimentum vitae sapien pellentesque habitant. Viverra adipiscing at in tellus integer feugiat scelerisque. Tincidunt augue interdum velit euismod in.
</p>
</div>
</div>
</section>

<section class="comment">
<div class="aboutComment">
<div>
    <span>"</span>
    <i>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue interdum velit euismod in pellentesque. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Arcu dictum varius duis at consectetur lorem donec massa sapien. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. A condimentum vitae sapien pellentesque habitant. Viverra adipiscing at in tellus integer feugiat scelerisque.
    </i><br>
    <span>"</span>
    <b>Jean Philippe- Ceo</b>
</div>
</div>
<div class="aboutComment">
    <img src="../assets/image/teamComments-01.jpg" alt="">
</div>
</section>

<div class="textTeam">
    <h2>Our Team</h2>
</div>

<section class="cardTeam">
    <div class="cardContainer">
        <div class="card">
            <img src="../image/img-card.jpg" alt="" class="cardImg">
            <div class="cardInfo">
                <h2>Name </h2>
                <span>Title</span>
                <p class="cardText">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. 
                Lorem Ipum doth be hard.
                </p>
            </div>
        </div> 
        <div class="card">
            <img src="../image/img-card.jpg" alt="" class="cardImg">
            <div class="cardInfo">
                <h2>Name </h2>
                <span>Title</span>
                <p class="cardText">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. 
                Lorem Ipum doth be hard.
                </p>
            </div>
        </div> 
        <div class="card">
            <img src="../image/img-card.jpg" alt="" class="cardImg">
            <div class="cardInfo">
                <h2>Name </h2>
                <span>Title</span>
                <p class="cardText">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. 
                Lorem Ipum doth be hard.
                </p>
            </div>
        </div>  
        <div class="card">
            <img src="../image/img-card.jpg" alt="" class="cardImg">
            <div class="cardInfo">
                <h2>Name </h2>
                <span>Title</span>
                <p class="cardText">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. 
                Lorem Ipum doth be hard.
                </p>
            </div>
        </div>  
    </div>
</section>

<footer id="footer">
    <div class="footerContainer">
    <div id="footerLogo">
    <img src="../image/logo100.png" alt="">
    <p class="text-logo">Data Studio</p>
    </div>
    <div class="contactUs">
    <h3>Contact Us</h3>
    <p>example@example.com</p>
    <p>Tel: +00000000000000</p>
    <p>Address:</p>
    <p>Street Public n° 00000</p>
    <p>District, Country</p>
    </div>
    <div class="socialMediaIcon">
    <img src="../image/iconLinkedin40.png" alt="" class="img-social-icon">
    <img src="../image/iconMeta40.png" alt=""class="img-social-icon">
    <img src="../image/iconTwitter40.png" alt=""class="img-social-icon">
    <img src="../image/iconIg40.png" alt=""class="img-social-icon">
    <img src="../image/iconDribble40.png" alt=""class="img-social-icon">
    </div>
    </div>
     <p id="copyRight">©2017 Midas All rights reserved.</p>
</footer>

<button class="scrollTopBtn none">
    <img src="./assets/up-arrow.png">
</button>

<script lang="javascript" src="../js/app2.js"></script>
</body>
</html>